<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaycheckHelp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PaycheckHelp.Properties.Settings>
            <setting name="PayRate" serializeAs="String">
                <value>40.16</value>
            </setting>
            <setting name="DomesticPerDiemRate" serializeAs="String">
                <value>2.2</value>
            </setting>
            <setting name="InternationalPerDiemRate" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="TaxRate" serializeAs="String">
                <value>0.75</value>
            </setting>
        </PaycheckHelp.Properties.Settings>
    </userSettings>
</configuration>